.bundle
log/*.log
tmp/**/*
tmp/*
config/database.yml
config/mail.yml
db/structure.sql
.idea
.idea/*
public/assets
public/attachments
public/stylesheets/base.css
public/sitemap1.xml.gz
public/sitemap_index.xml.gz
.DS_Store
