%h1 Artists

.post
  Members of the Clifton Studios Co-op:

  %ul.members
    - @members.each do |member|
      %li= link_to(member.name, artist_path(member))

%h1 Executive

.post
  - if @executive.blank?
    %p The executive has not been configured.
  - else
    %ul.form
      %li
        %table
          - @executive.each do |position|
            %tr
              %td.executive= position.title
              %td= position.member.name
