%h1 Artists

.post
  Members of the Clifton Studios Co-op:

  %ul.members
    - @members.each do |member|
      %li= link_to(member.name, artist_path(member))

  - if logged_in?
    %p= link_to "Click here to view a list of email addresses for all studio members.", members_emails_path
