%h2 Follow Us
%ul
  %li.social
    %table
      %tr
        %td= social_media_icon :facebook, "http://www.facebook.com/pages/Clifton-Studios/111063175627791"
        %td= social_media_icon :rss, "/rss.xml", :alt => "Follow our RSS feed"
