%p
  &nbsp;&nbsp;&nbsp;&nbsp;Signed,
  %br
  &nbsp;&nbsp;&nbsp;&nbsp;The Clifton Studios Robot

%div{:style => "border-top: 5px solid #ddd; padding-top: 8px; margin-top: 20px"}
  %p
    If you do not wish to receive any more emails from Clifton Studios, please log in to your dashboard and update your preferences at
    %a{:href => "http://cliftonstudios.ca/login"} http://cliftonstudios.ca/login
    -# = link_to unsubscribe_url(member.secret_hash)
