= render partial: "header", object: "Bylaws Updated"

%p Updated bylaws have been uploaded and are available here:

%p
  %a{href: "http://cliftonstudios.ca/members/bylaws"} http://cliftonstudios.ca/members/bylaws
  %br

= render partial: "footer"
