= render :partial => "header", :object => "New Website Login"

%p Oops! That last password you were sent was incorrect. Your ACTUAL login is:

%p
  Username:
  %span{:style => "font-weight: bold"}=  @member.email
  %br
  Password:
  %span{:style => "font-weight: bold"}=  @password

%p Sorry about the confusion.

%p
  Kevin,
  %br
  kevin@cliftonstudios.ca
