= render :partial => "header", :object => "New Meeting Minutes"

%p New meeting minutes have been uploaded and are available to download. Get them here:

%p
  %a{:href => "http://cliftonstudios.ca/members/minutes"} http://cliftonstudios.ca/members/minutes
  %br

= render :partial => "footer"
