/* Printable contact list */
body {
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", Tahoma, "Sans Serif"; }

h1 {
  font-family: MuseoSans500, helvetica, sans-serif;
  font-weight: normal;
  font-size: 3em;
  margin: 3px 0; }

h2 {
  font-weight: normal;
  margin: 0 0 30px 0; }

h3 {
  padding: 0;
  margin: 0; }

table {
  border-width: 1px;
  border-spacing: 2px;
  border-style: outset;
  border-color: black;
  border-collapse: collapse;
  width: 100%; }
  table tr td {
    width: 49%;
    border-width: thin;
    padding: 5px;
    border-style: inset;
    border-color: black;
    text-align: top; }
    table tr td p {
      padding: 0;
      margin: 0; }
