- alt ||= nil

- if f.object.image.exists?
  %li
    %label Current Image
    .float_right{:style => "margin: 10px 100px 10px 10px; width: 180px"}
      = button_tag "Delete this picture", data: {"delete-current-image" => true}
      %span.bold.delete_image_notice{style: "display: none"} Image deleted
    .float_right= link_to image_tag(f.object.thumb, :class => "thumb", :alt => alt), f.object.full, :rel => "lightbox", :class => "thumb"
    = f.hidden_field :delete_image, :value => "0", :class => "delete_image"
    .clear_right
