-if !error_messages.try(:errors).blank?
  .error
    - if !error_messages.try(:errors).blank?
      %h2= "Sorry, there #{error_messages.errors.count == 1 ? "was a problem" : "were some problems"} with your submission."
      %ul
        - error_messages.errors.full_messages.each do |msg|
          %li= msg
