-if !error_messages.try(:errors).blank?
  .error
    - if !error_messages.try(:errors).blank?
      %h2= "Sorry, there was an error with your request."
      %ul
        - error_messages.errors.full_messages.each do |msg|
          %li= msg
