<!--[if lte IE 6]>
<div id="ie6warning">Warning: You are using a very old web browser and it is no longer supported. Some of this site may not work as expected. You should upgrade your web browser.</div>
<![endif]-->

- if flash[:notice]
  .notice
    %h2=flash[:notice]

- if flash[:error]
  .error
    %h2= flash[:error]

