<!--[if lte IE 6]>
<div id="ie6warning">Warning: You are using a very old web browser and it is not supported. Some features may not work as expected.</div>        
<![endif]-->

- if flash[:notice]
  .notice
    %h2=flash[:notice]

- if flash[:error]
  .error
    %h2= flash[:error]

