- if (events =  Event.upcoming).any?
  %h2 Upcoming Events

  %ul
    - events.each do |event|
      %li
        = link_to event.title, event_path(event)
        %br
        = event.starts_at.to_s(:with_time)
