%h1 About Clifton Studios

.post= @about.body

%h1 Contact

.post
  Clifton Studios is located half a block off Portage Avenue, just past Erin and Wall.
  %br
  %br
  587 Clifton Street
  %br
  Winnipeg, MB R3G 2X5
  %br
  (204) 774-4869
  %br
  = obfuscated_mail_to ADMIN_EMAIL
  %br
  %br
  = render :partial => 'map'

%h1 How To Join

.post= @availability.body
