%h1 Location and Contact Information
.post
  Clifton Studios is located half a block off Portage Avenue, just past Erin and Wall.
  %br
  %br
  = render :partial => "shared/address"
  %br
  %br
  = obfuscated_mail_to ADMIN_EMAIL
  %br
  %br
  = render :partial => 'map'

= render :partial => "how_to_join"
