development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: cliftonstudios_development
  pool: 5
  username: cliftonstudios
  password: 
  host: localhost

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: cliftonstudios_test
  pool: 5
  username: cliftonstudios
  password: 
  host: localhost

legacy:
  database: cliftonstudios_legacy
  username: cliftonstudios
  password:
  host: localhost
