%h1 Clifton Studios By-laws

.post
  = collection_index(@bylaws, ["Document", "Actions"]) do |bylaw|
    %tr{class: cycle("odd", "even")}
      %td= link_to bylaw.name, bylaw.file.url
      %td
        = show_entity_image bylaw.file.url, "Download"
        - if current_member.admin?
          %br
          TODO
