%h1 Clifton Studios By-laws

.post
  %p The by-laws have not yet been uploaded. They will be in time, but transcribing them takes time.
  %p They are available at the studio or you can get them by request by contacting someone on the executive.

