%h1 Member Email List

.post
  %p This is a list of the email addresses for all active Clifton Studios members.

  = text_area_tag :emails, @emails.join(", "), :rows => 12, :cols => 60, :readonly => :readonly, :style => "width: 100%"
