%h1 All Pictures
.post
  %ul.members
    %li= link_to "View pictures by all members", picture_path("all")

%h1 Pictures for Artistis
.post
  %ul.members
    - @members.each do |m|
      %li= link_to m.name, picture_path(m.permalink)
