%h1 Picture Galleries
.post
  %p= link_to "View pictures by all members", picture_path("all")
  %p.bold OR
  %p
    View pictures by one of the artists:

    %ul
      - @artists.each do |a|
        %li= picture_path(a.permalink)

