%h1 Unsubscribe from Emails
.post
  - if @member
    %p If you would like to stop receiving email notifications from Clifton Studios at the following email address, please click the unsubscribe button below:
    %p.bold= @member.email
    = form_tag unsubscribe_path(@member.secret_hash), :method => :put do
      = submit_tag "Unsubscribe"

  - else
    %p Could not find a member to unsubscribe.

%h1 Contact the Administrator
.post
  %p Please contact the administrator if you have any other issues.
  %p= obfuscated_mail_to ADMIN_EMAIL
