%h1 Print and Download Contacts
.post
  %p= link_to "Print contact sheet", print_members_contact_list_path, :target => "_blank"
  %p= link_to "Download spreadsheet (.csv)", members_contact_list_index_path(:format => "csv")

%h1 Contact List
.post
  = render :partial => "member", :collection => @members

