- content_for :js do
  :javascript
    $(document).ready(function(){
      setTimeout("window.print()", 2000);
    });

%h1 Clifton Studios Members
%h2
  Printed on
  = Time.now.to_s(:words)

%table
  - @members.each_slice(2) do |row|
    %tr
      %td= row[0]
      %td= row[1]

