%h2 Need help?
%p
  If you need help, please don't hesitate to send me an email and ask!
  = obfuscated_mail_to ADMIN_EMAIL

%h2 Executive
%p
  Have a question or concern?
  = link_to "Contact The Executive directly here.", members_contact_executive_index_path
